//Ovveride boostrap gray colors
$white: #fff;
$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;
$black: #000;

//Ovveride boostrap theme colors
$primary: #356BBD;
$secondary: #4082E6;
//$success : $green;
$info: #478FFC;
//$warning : $yellow;
//$danger : $red;
//$light : $gray-100;
//$dark : $gray-900;

//$theme-colors: (
//  "custom-cc": #0f0
//);

//Body
$body-bg: $gray-900;
$body-secondary-bg: $gray-800; // my
$body-color: $white;

//Forms
$input-border-color: $gray-700;

//Card
$card-bg: $body-secondary-bg;
$card-color: $white;

@import "../../node_modules/bootstrap/scss/bootstrap";
body {
    background-color: $dark;
}

html {
    overflow-x: hidden;
}

.app {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.body {
    color: #fff;
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main {
    display: flex;
    min-height: calc(100vh - 4rem);
}

.main > * {
    padding: 10px;
}

.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 4rem;
    width: 400px;
    height: calc(100vh - 4rem);
}

.bg-secondary-dark {
    background-color: $body-secondary-bg;
}